@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

.anim {
  animation: errorAnimation .5s;
}

@keyframes errorAnimation {
  0% {
    opacity: 0;
    left: -50px;
  } 100% {
    opacity: 100;
    left: 20px;
  }
}

.animMessager {
  animation: animMessager .5s;
}

@keyframes animMessager {
  0% {
    opacity: 0;
    left: 45%;
  } 100% {
    opacity: 100;
    left: 50%;
  }
}